In [2]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
import gc
from tqdm import tqdm

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
from google.colab import files
test = '/content/drive/MyDrive/tobigs14_conference/data/v_2/test_all_meta_v2.json'
test_all_meta = pd.read_json(test)

In [5]:
train = '/content/drive/MyDrive/tobigs14_conference/data/v_2/train_all_meta_v2.json'
train_all_meta = pd.read_json(train)

In [6]:
food_token = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token.csv'
food_token_wine = pd.read_csv(food_token)

In [7]:
import pickle



f = open("/content/drive/MyDrive/tobigs14_conference/data/v_2/dataset.pkl", "rb")

temp = pickle.load(f)

In [8]:
dataset = pd.read_pickle("/content/drive/MyDrive/tobigs14_conference/data/v_2/dataset.pkl")

In [9]:
food_token = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token_one_hot.csv'
food_token_wine = pd.read_csv(food_token)

- ë³€ìˆ˜ ì •ë¦¬
index : rawê¸°ì¤€ index <br>
user_note : ë¦¬ë·°ë‚´ìš© <br>
rating_per_user : ë¦¬ë·°í‰ì  <br>
vintage_id : ë¹ˆí‹°ì§€ id <br>
user_like_count : ë‹¤ë¥¸ ì‚¬ìš©ìì˜ ì¢‹ì•„ìš” ìˆ˜ <br>
user_id : ìœ ì € ID <br>
wine_id : ì™€ì¸ Id <br>
wine_name : ì™€ì¸ ì´ë¦„(ë…„ë„ í¬í•¨) <br>
url : ì™€ì¸ ì£¼ì†Œ <br>
like : 1=like, 0=dislike <br>
name : ì™€ì¸ ì´ë¦„ <br>
rating_count : í‰ì  ìˆ˜ <br>
rating_average : í‰ì  í‰ê·  <br>
rating_distribution : í‰ì  ë¶„í¬ ({1': 30, '2': 50 ..}) <br>
label_count : ì™€ì¸ ìƒì‚° ìˆ˜ <br>
review_count : ë¦¬ë·° ìˆ˜ <br>
type_id : ì™€ì¸ íƒ€ì… ID (1: ë ˆë“œì™€ì¸) <br>
body : ë°”ë”” ì§€ìˆ˜ <br>
acidity : ì‚°ë„ ì§€ìˆ˜ <br>
alcohol : ì•Œì½”ì˜¬ ì§€ìˆ˜ <br>
food : ì–´ìš¸ë¦¬ëŠ” ìŒì‹ ë¦¬ìŠ¤íŠ¸<br>
grapes : í¬ë„ ë¦¬ìŠ¤íŠ¸ <br>
grapes_id : í¬ë„ ID ë¦¬ìŠ¤íŠ¸ <br>
grapes_count : í¬ë„ë³„ ì™€ì¸ Count <br>
grape_composition : í¬ë„ ì¡°í•© ë¹„ì¤‘ <br>
rank : ë­í¬<br>
region_id : ì§€ì—­ ID <br>
region_name : ì§€ì—­ ì´ë¦„ <br>
country_code : ì§€ì—­ ì½”ë“œ <br>
country_most_used_grapes_id : êµ­ê°€ ë‚´ ê°€ì¥ ë§ì´ ì“´ í¬ë„ í’ˆì¢… ID <br>
country_most_used_grapes_name : êµ­ê°€ ë‚´ ê°€ì¥ ë§ì´ ì“´ í¬ë„ í’ˆì¢… ì´ë¦„ <br>
country_most_used_grapes_wines_count : êµ­ê°€ ë‚´ ê°€ì¥ ë§ì´ ì“´ í¬ë„ í’ˆì¢… ì™€ì¸ ê°¯ìˆ˜ <br>
winery_id : ì™€ì´ë„ˆë¦¬ ID(ì–‘ì¡°ì¥) <br> 
winery_name : ì™€ì´ë„ˆë¦¬ ì´ë¦„ <br>
winery_ratings_count : ì™€ì´ë„ˆë¦¬ í‰ê°€ ìˆ˜<br>
winery_ratings_average : ì™€ì´ë„ˆë¦¬ í‰ê°€ í‰ê·  <br>
winery_labels_count : ì™€ì´ë„ˆë¦¬ ìƒì‚° ì™€ì¸ ìˆ˜<br>
winery_wines_count : ì™€ì´ë„ˆë¦¬ ìƒì‚° ì™€ì¸ì¢…ë¥˜ ìˆ˜ <br>
user_follower_count : í•´ë‹¹ ìœ ì €ì˜ íŒ”ë¡œì›Œ ìˆ˜<br>
user_following_count : í•´ë‹¹ ìœ ì €ì˜ íŒ”ë¡œì‰ ìˆ˜<br>
user_rating_count : í•´ë‹¹ ìœ ì €ì˜ í‰ê°€ ìˆ˜<br>
user_rating_sum : í•´ë‹¹ ìœ ì €ì˜ í‰ê°€ í•©<br>
reviews_count : í•´ë‹¹ ìœ ì €ì˜ ë¦¬ë·° ìˆ˜<br>

# wine_profile ë§Œë“¤ê¸° (wine_id, vintage_id, winenery_id, type_id, body, acidity, alcohol, winery_ratings_count)
wineryë¥¼ ë„£ì€ ì´ìœ : ê°™ì€ ì–‘ì¡°ì¥ì—ì„œ ë§Œë“¤ë©´ ì™€ì¸ì´ ë¹„ìŠ·í•  ê²ƒì´ê³ , <br> ì™€ì´ë„ˆë¦¬ì˜ í‰ê°€ê°€ ë†’ì„ ìˆ˜ë¡ ìœ ëª…í•œ ì™€ì¸ì´ ë§ì„ ìˆ˜ ìˆê¸° ë•Œë¬¸

In [18]:
len(list(train_all_meta['wine_id'].unique()))

50852

In [10]:
train_all_meta.columns

Index(['index', 'user_note', 'rating_per_user', 'vintage_id',
       'user_like_count', 'userID', 'wine_id', 'wine_name', 'url', 'like',
       'name', 'rating_count', 'rating_average', 'rating_distribution',
       'label_count', 'review_count', 'type_id', 'body', 'acidity', 'alcohol',
       'food', 'grapes', 'grapes_id', 'grapes_count', 'grape_composition',
       'rank', 'region_id', 'region_name', 'country_code',
       'country_most_used_grapes_id', 'country_most_used_grapes_name',
       'country_most_used_grapes_wines_count', 'winery_id', 'winery_name',
       'winery_ratings_count', 'winery_ratings_average', 'winery_labels_count',
       'winery_wines_count', 'user_follower_count', 'user_following_count',
       'user_rating_count', 'user_rating_sum', 'reviews_count'],
      dtype='object')

In [11]:
wine_profile=train_all_meta[['wine_id', 'vintage_id', 'winery_id', 'type_id', 'body', 'acidity', 'alcohol', 'winery_ratings_count', 'like', 'rating_average']]

In [20]:
len(wine_profile['wine_id'].unique())

50852

# wine_test tokení™” (one_hot_encoding ì‚¬ìš©)

In [ ]:
train_all_meta['food'][763382]

['Pasta', 'Shellfish', 'Vegetarian', 'Appetizers and snacks', 'Lean fish']

In [ ]:
train_all_meta.head()

   index  ... reviews_count
0      0  ...           323
1      1  ...           297
2      4  ...           170
3      5  ...           392
4      6  ...           394

[5 rows x 43 columns]

In [ ]:
train_all_meta['grapes_id'].values

array([list([5, 14, 110]), list([5, 14, 110]), list([5, 14, 110]), ...,
       list([5]), list([2]), list([2])], dtype=object)

In [ ]:
train_all_meta[train_all_meta['vintage_id']==92014915]['food']

763034    [Shellfish, Vegetarian, Goat cheese]
Name: food, dtype: object

In [ ]:
df=pd.DataFrame(columns=['wine_id', 'vintage_id', 'taste'])

In [ ]:
train_all_meta['vintage_id'].unique()

array([164942680, 142514980,  48346487, ...,  29209091,   2873968,
         5033394])

In [ ]:
len(list(train_all_meta['wine_id'].unique()))

50852

In [ ]:
# wine_idì™€ foodë¡œ ë¬¶ê¸°
df=pd.DataFrame(columns=['wine_id', 'food'])
for i in list(train_all_meta['wine_id'].unique()):
    df=df.append(train_all_meta[train_all_meta['wine_id']==i].iloc[:, [6, 20]].drop_duplicates('wine_id'))

KeyboardInterrupt: ignored

In [ ]:
# íŠ¹ìˆ˜ë¬¸ì ì œê±°
df['food']=df['food'].map(lambda x: str(x).lstrip('[').rstrip(']'))
df['food'].replace(r'\([^)]*\)', '', regex=True, inplace=True)
df['food'].replace(r',', '|', regex=True, inplace=True)

In [ ]:
# ì›í•« ì¸ì½”ë”©
one_hot=pd.Series(df['food']).str.get_dummies()

In [ ]:
df_1=pd.merge(df, one_hot, left_index=True, right_index=True, how='left')

In [ ]:
df_1.head()

    wine_id  ... None
0   1141133  ...    0
30  2532733  ...    0
36  1253802  ...    0
38  1123441  ...    0
39  1157656  ...    0

[5 rows x 39 columns]

In [ ]:
df_1.to_csv('food_token_one_hot.csv')

In [ ]:
files.download('food_token_one_hot.csv')

In [21]:
food_token_one_hot = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token_one_hot.csv'
food_token_one_hot_wine = pd.read_csv(food_token_one_hot)

In [24]:
train_all_meta['']==food_token_one_hot_wine['wine_id'].unique()

50852

## ì˜ë¯¸ì—†ëŠ” ì½”ë“œ

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df1=df_1.reset_index()

In [ ]:
df_1

        wine_id                                               food  ...    11    12
0       1141133  'Pork', 'Rich fish ', 'Shellfish', 'Mild and s...  ...  None  None
30      2532733  'Beef', 'Lamb', 'Game ', 'Spicy food', 'Mature...  ...  None  None
36      1253802  'Beef', 'Lamb', 'Spicy food', 'Mature and hard...  ...  None  None
38      1123441  'Pork', 'Rich fish ', 'Spicy food', 'Sweet des...  ...  None  None
39      1157656  'Shellfish', 'Vegetarian', 'Appetizers and sna...  ...  None  None
...         ...                                                ...  ...   ...   ...
741449  1197648                                               None  ...  None  None
747906  3140995                             'Beef', 'Lamb', 'Veal'  ...  None  None
751590  4239184                 'Beef', 'Veal', 'Game ', 'Poultry'  ...  None  None
754355  1169358             'Beef', 'Lamb', 'Game ', 'Blue cheese'  ...  None  None
759642  1441950  'Pasta', 'Shellfish', 'Appetizers and snacks',...  ...  None  None

[50852 rows x 15 columns]

In [ ]:
X.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
token_food=pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names() )

In [ ]:
token_food.drop('and', axis=1)

KeyError: ignored

In [ ]:
food_token=pd.concat([df1, token_food], axis=1)

In [ ]:
files.download('food_token.json')
files.download('food_token_1.csv')

In [ ]:
food_token = '/content/drive/MyDrive/tobigs14_conference/data/v_2/food_token.csv'
food_token_wine = pd.read_csv(food_token)
food_token_wine=food_token_wine.drop(['Unnamed: 0', 'index','vintage_id','and'], axis=1)

In [ ]:
# foodì— ì¢…ë¥˜ë³„ë¡œ ë¼ë²¨ë§í•œê²ƒ í•˜ë‚˜ë¡œ í•©ì¹˜ê¸°
food_cols = list(food_token_wine.columns)[2:]
food_encoded = {x: i for i, x in enumerate(food_cols)}

In [ ]:
def get_taste(food, tastes):
  def get_all_taste(gs):
    active = [str(food_encoded[taste]) for taste, g in zip(tastes, gs) if g==1]
    if len(active) == 0:
      return '0'
    return ','.join((active))
  food_token_wine['all_food'] = [
      get_all_taste(gs) for gs in zip(*[food_token_wine[taste] for taste in tastes])]
get_taste(food_token_wine, food_cols)
# ì¶œì²˜: https://github.com/revathijay/Python-Notebooks/blob/master/Recommendation/MovieLens_Youtube_Recommendation_Candidate_Generation_Network.ipynb

In [ ]:
food_token_wine

       wine_id  ...                          all_food
0      1141133  ...        4,8,9,19,23,25,26,27,29,32
1      2532733  ...     2,4,6,10,12,14,15,17,24,30,35
2      1253802  ...                2,4,10,14,15,17,30
3      1123441  ...  7,8,9,10,23,24,25,26,30,31,32,34
4      1157656  ...                 0,1,5,18,27,28,34
...        ...  ...                               ...
50847  1197648  ...                                21
50848  3140995  ...                           2,15,33
50849  4239184  ...                   2,6,12,24,33,35
50850  1169358  ...                  2,3,4,6,12,15,35
50851  1441950  ...              1,5,9,16,18,22,27,28

[50852 rows x 39 columns]

# user_profile ë§Œë“¤ê¸° (user_id, user_follower count, user_following_count, user_rating_count, user_rating_sum)

In [ ]:
user_ids = train_all_meta['userID'].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}

wine_ids = train_all_meta["wine_id"].unique().tolist()
wine2wine_encoded = {x: i for i, x in enumerate(wine_ids)}
wine_encoded2wine = {i: x for i, x in enumerate(wine_ids)}

In [ ]:
train_all_meta_copy = train_all_meta.copy()

In [ ]:
train_all_meta_copy['userID'] = train_all_meta["userID"].map(user2user_encoded)
#train_all_meta_copy["wine_id"] = train_all_meta["wine_id"].map(wine2wine_encoded)

In [ ]:
train_all_meta_copy

         index  ... reviews_count
0            0  ...           323
1            1  ...           297
2            4  ...           170
3            5  ...           392
4            6  ...           394
...        ...  ...           ...
763382  984107  ...           196
763383  984110  ...           196
763384  984111  ...           196
763385  984112  ...           196
763386  984114  ...           196

[763387 rows x 43 columns]

In [ ]:
user=(pd.DataFrame(zip(train_all_meta_copy['userID'],
                        train_all_meta_copy['wine_id'],
                        train_all_meta_copy['user_follower_count'],
                        train_all_meta_copy['user_following_count'],
                        train_all_meta_copy['user_rating_count'],
                        train_all_meta_copy['user_rating_sum'],
                        ), columns = ['userID', 'wine_id', 'follower', 'following', 'rating_count', 'rating_sum']))

In [ ]:
user

        userID  wine_id  follower  following  rating_count  rating_sum
0            0  1141133        34         65           383      1453.0
1            1  1141133       425        915           382      1516.5
2            2  1141133        46         75           412      1589.0
3            3  1141133        13         10           412      1465.0
4            4  1141133         5          0           410      1639.5
...        ...      ...       ...        ...           ...         ...
763382    5226    87064        52         81           259       973.0
763383    5226    63654        52         81           259       973.0
763384    5226     5602        52         81           259       973.0
763385    5226  1396664        52         81           259       973.0
763386    5226  1142712        52         81           259       973.0

[763387 rows x 6 columns]

In [ ]:
recent_item = user.groupby('userID').agg({
    'wine_id' : [('wine_id', 'unique')]
}).reset_index()

In [ ]:
recent_item[['userID', 'wine_id']]

     userID                                            wine_id
                                                       wine_id
0         0  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1         1  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2         2  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3         3  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4         4  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...     ...                                                ...
6338   6338  [1135982, 77021, 3704, 1139434, 1852273, 17083...
6339   6339  [1135810, 1400619, 779647, 4895567, 2021362, 6...
6340   6340  [21646, 2580327, 77149, 83358, 7629904, 197097...
6341   6341  [2448, 5070, 1128385, 79836, 2424, 1145495, 30...
6342   6342  [1278783, 19242, 1958101, 1320744, 1471, 12350...

[6343 rows x 2 columns]

In [ ]:
user_data=pd.merge(user, recent_item, how = 'left', on='userID')

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:
user_data.rename(columns = {('wine_id', 'wine_id') : 'wine_tot'}, inplace = True)

In [ ]:
user_data

        userID  ...                                           wine_tot
0            0  ...  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1            1  ...  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2            2  ...  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3            3  ...  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4            4  ...  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...        ...  ...                                                ...
763382    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763383    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763384    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763385    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763386    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...

[763387 rows x 7 columns]

# predict label ë½‘ê¸° ê° userë“¤ì€ ë¹„ìŠ·í•œ ì™€ì¸ì„ ë½‘ëŠ”ë‹¤ëŠ” ê°€ì •í•˜ì— wine_totì—ì„œ randomí•œ ì™€ì¸ì„ ì¶”ì¶œ

In [ ]:
import random
random.choice(user_data['wine_tot'][1])

1232748

In [ ]:
user_data['wine_tot'][0]

array([1141133, 2532733, 1253802, 1123441, 1157656, 1134756, 1755347,
       1368193, 2310232, 1122469, 1218926, 1997514, 1206525, 1221466,
         22849, 1715702,   76137,   76129, 2167223,   14259,   73620,
       3623354, 1221576,   74557, 1175557, 1564472, 1223089,   14640,
         26594, 1514819, 1154809, 1293225, 1387694,   90192, 1410477,
         87426, 1229949,   43604, 1745846, 2590878, 1127808, 3102815,
        734294, 1130517, 1379095,  779277,   16786, 1135215, 1174845,
         17615, 1132727,   19304, 1148479, 1268465, 1823924, 1420447,
       2395909, 1156758, 1143834,    7775,   23836,   23843, 3816645,
       1391837, 1101039, 1208738,   79266,    9220,   86290, 1245076,
         16115, 1117679, 2363901,   13546, 1184388, 1269735, 2816870,
       1276374,   23995, 1188753, 1129282,   23337, 1386686,   11001,
         77130, 1173806, 1161172, 1827355, 1751560, 1725422,    4068,
          4106, 4161223, 1789271, 4488679,   31574, 4009475,    8602,
         77869,    8601, 1180929, 2287017,   79269, 1386871, 1152843,
       1252056, 1125543, 4118706, 4537681,   27694, 1129960, 2619234,
       3607229, 1377811,   93401, 2955488, 1216610,    7773,   76817,
       1209296, 1287627,   42584, 1517965, 1900097, 1198689, 1123168,
       1927042,   31024, 1117216, 3173216,   22655,    1992, 2002401,
       1117114,   18979, 2677769, 1105583,   79160, 1141069, 1382942,
         18978, 3761834, 1311121, 1143637, 1497442,    1247,   15615,
       4377344, 2552825,   80971, 1219403, 4770861, 1306903,    2569,
       1128385, 1098891, 1505995, 1323147,   64434, 3889282,     616,
       1126215, 1656306, 1164702, 1692390,   83818,   74304, 1136950,
          6326, 1146633, 1555220, 1537328, 2365240,   36814, 2154646,
       1576721, 1127526,   91020,   20225, 2139090, 1441276, 1474005,
         87222,   24056, 1170133])

In [ ]:
user_data['wine_tot'][0]random.choice(user_data['wine_tot'][0])

2590878

In [ ]:
random.choice(user_data['wine_tot'][0])

31574

In [ ]:
user_data

        userID  ...                                           wine_tot
0            0  ...  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1            1  ...  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2            2  ...  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3            3  ...  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4            4  ...  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...        ...  ...                                                ...
763382    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763383    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763384    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763385    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763386    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...

[763387 rows x 7 columns]

In [ ]:
import random
list_predict_label=[]
for idx, val in  enumerate(user_data['wine_tot']):
    #user_data['predict_label'][idx] = random.choice(val)
    list_predict_label.append(random.choice(val))
    user_data['wine_tot'][idx]=np.delete(user_data['wine_tot'][idx], np.where(user_data['wine_tot'][idx]==list_predict_label[idx]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
list_predict_label

[90192, 1191976, 4378, 69664, 7316, 1106030, 88443, 1126813, 1123564, 6090996]

In [ ]:
user_data.to_csv('user_data.csv')

In [ ]:
files.download('user_data.csv')

# wine_id ê¸°ì¤€ìœ¼ë¡œ wine_profile, food_token, user_profile í†µí•©

In [ ]:
pd.merge(wine_profile, user_data,  how = 'left', on='wine_id')

In [ ]:
user_data

        userID  ...                                           wine_tot
0            0  ...  [1141133, 2532733, 1253802, 1123441, 1157656, ...
1            1  ...  [1141133, 23051, 18929, 1178210, 1211816, 7643...
2            2  ...  [1141133, 15238, 1244, 1445351, 1136022, 1879,...
3            3  ...  [1141133, 1084276, 74298, 21585, 1136856, 7005...
4            4  ...  [1141133, 79160, 1128385, 16578, 74298, 78014,...
...        ...  ...                                                ...
763382    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763383    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763384    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763385    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...
763386    5226  ...  [1819992, 2219287, 1895681, 1754927, 6683, 119...

[763387 rows x 7 columns]